<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Алексей Виняр</title>
    <style>
        .pos {vertical-align: sub; color: blue; font-size: 70%;}
        .result {font-size: 24px;}
    </style>
</head>
<body>
    <form action="vk_page" method='post'>
        <h1>Введите id групп (следующий id на новой строке, без пробелов):</h1>
        <textarea rows="4" cols="50" name="text">{{ input }}</textarea>
        <br>
        <input type="submit" value="Посмотреть информацию">
    </form>

    {% if text %}
        <h1>Разбор:</h1>
        <p class="result"> {{ text | safe}}</p>
    {% endif %}

</body>
</html>